<div class='container'>
  <div class="col-md-12 article-top article-block">
    <% if @article.image_id.present?%>
    <%= image_tag attachment_url(@article, :image), class: 'article-img top-padding' %>
    <% else %>
     <%= image_tag 'top.jpg', class: 'img-responsive top-padding image-size' %>
    <% end %>
    
    
      <h1><%= @article.title%></h1>
      <div class="title-bottom" style="padding:10px";>
        <%= simple_format @article.body %>
        <p class="text-right">
    <%= @article.created_at.strftime("%Y年%-m月%-d日") %>
        </p>
  　</div>
  　<div class="row">
  　 <%= link_to '編集', edit_article_path(@article), class: 'btn btn-primary', style: 'margin-bottom: 10px; margin-right:10px'; %>
  　 <%= link_to '削除', article_path(@article), method: :delete, data: {confirm: '削除しますか？'} ,class: 'btn btn-danger', style: 'margin-bottom: 10px'; %>
  　</div>
  </div>
</div>